@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*========================================*/
body {
  padding-top: 12px;
  background-color: #fffefd;
  color: #1a212f;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .wrapper {
    width: 678px;
  }
}

@media (max-width: 500px) {
  .wrapper {
    width: 290px;
  }
}

.button {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  width: 1366px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 320px;
  }
}

.title {
  font-family: "Rubic", sans-serif;
  font-size: 36px;
  line-height: 43px;
  font-weight: 800;
  color: #1a212f;
}

@media (max-width: 500px) {
  .title {
    font-size: 28px;
    line-height: 33px;
  }
}

.button--orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 50px;
  background-color: #ff7236;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #fffefd;
  border-radius: 30px;
  text-align: center;
}

.button--orange span {
  margin: 0 5px 0 24px;
  letter-spacing: -0.75px;
}

@media (max-width: 500px) {
  .logo img {
    width: 46px;
    height: 38px;
  }
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .site-header .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fac663;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  .site-header .nav.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.site-header .nav .logo-menu {
  display: none;
}

@media (max-width: 500px) {
  .site-header .nav .logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 12px 25px 50px 15px;
  }
  .site-header .nav .logo-menu .menu__close img {
    width: 16px;
    height: 16px;
  }
}

.site-header .nav .logo-menu a {
  height: 100%;
}

.site-header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .site-header .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.site-header .nav-list .item {
  margin-left: 26px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .site-header .nav-list .item {
    margin-left: 15px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.site-header .nav-list .item:first-child {
  margin-left: 0;
}

@media (max-width: 500px) {
  .site-header .nav-list .item:first-child {
    margin-left: 15px;
  }
}

.site-header .nav-list .item:hover a {
  color: #fda553;
  text-decoration: underline;
}

.site-header .nav-list .item a {
  color: #1a212f;
}

.site-header .nav-list .item-contacts {
  display: none;
}

@media (max-width: 500px) {
  .site-header .nav-list .item-contacts {
    display: block;
  }
  .site-header .nav-list .item-contacts .item-contacts__tel {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 19px;
  }
  .site-header .nav-list .item-contacts .social-link {
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .site-header .nav-list .item-find {
    display: none;
  }
}

.site-header .header__burger {
  display: none;
  width: 22px;
  height: 14px;
  margin-right: 10px;
  position: relative;
}

@media (max-width: 500px) {
  .site-header .header__burger {
    display: block;
  }
}

.site-header .header__burger .burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1a212f;
  position: absolute;
  left: 0;
}

.site-header .header__burger .burger__line-first {
  top: 0;
}

.site-header .header__burger .burger__line-second {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.site-header .header__burger .burger__line-third {
  bottom: 0;
}

.hero-section {
  height: 504px;
  width: 1366px;
  margin: 12px auto 0 auto;
  background-color: #fda553;
  background: url(../img/Mask.png), url(../img/cat.jpg) no-repeat no-repeat;
  background-position: 50% 100%;
}

@media (max-width: 900px) {
  .hero-section {
    width: 768px;
    height: 856px;
    background: url(../img/Mask-for-tablen.png), url(../img/cat-for-tablet.jpg) no-repeat no-repeat;
  }
}

@media (max-width: 500px) {
  .hero-section {
    width: 100%;
    height: 457px;
    background-size: cover;
  }
}

.hero-section .container {
  padding-top: 149px;
  padding-left: 198px;
}

@media (max-width: 900px) {
  .hero-section .container {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero-section .container {
    padding-top: 50px;
  }
}

.hero-section .container .location {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-bottom: 2px;
}

@media (max-width: 500px) {
  .hero-section .container .location {
    font-size: 12px;
    line-height: 14px;
  }
}

.hero-section .container .title {
  font-family: "Rubic", sans-serif;
  font-size: 62px;
  line-height: 57px;
  font-weight: 900;
  letter-spacing: -3px;
  margin-bottom: 17px;
}

@media (max-width: 500px) {
  .hero-section .container .title {
    font-size: 44px;
    line-height: 52px;
  }
}

.hero-section .container .subtitle {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 35px;
}

@media (max-width: 500px) {
  .hero-section .container .subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}

.hero-section .container .button--white {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 50px;
  background-color: #fffefd;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 30px;
  text-align: center;
}

.hero-section .container .button--white span {
  margin: 0 5px 0 24px;
  letter-spacing: -0.75px;
  color: #1a212f;
}

@media (max-width: 500px) {
  .features-section {
    height: 100%;
  }
}

.features-section .container {
  background: url(../img/paw-print.png) no-repeat 100% -6%;
  text-align: center;
}

@media (max-width: 500px) {
  .features-section .container {
    background-size: 40%;
    background-position: 103% 1%;
  }
}

.features-section .title {
  padding-top: 130px;
  letter-spacing: -3px;
  margin-bottom: 70px;
}

@media (max-width: 500px) {
  .features-section .title {
    padding-top: 70px;
    margin-bottom: 40px;
    letter-spacing: 0;
  }
}

.features-section .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 22px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 900px) {
  .features-section .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .features-section .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.features-section .grid .item {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 22px 0 30px 30px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px 10px #d8d2cd;
          box-shadow: 0 0 10px 10px #d8d2cd;
}

@media (max-width: 900px) {
  .features-section .grid .item {
    width: 324px;
    padding-left: 25px;
    padding-right: 10px;
  }
}

@media (max-width: 500px) {
  .features-section .grid .item {
    width: 290px;
    padding-left: 25px;
    padding-right: 10px;
  }
}

.features-section .grid .item .item-img {
  margin-bottom: 27px;
}

@media (max-width: 500px) {
  .features-section .grid .item .item-img {
    width: 60px;
    height: 60px;
  }
}

.features-section .grid .item .item-title {
  margin-bottom: 8px;
  font-family: "Rubic", sans-serif;
  font-size: 22px;
  line-height: 31px;
  font-weight: 700;
  text-align: left;
}

@media (max-width: 500px) {
  .features-section .grid .item .item-title {
    font-size: 20px;
    line-height: 1.4;
  }
}

@media (max-width: 500px) {
  .features-section .grid .item .item-title {
    font-size: 18px;
    line-height: 1.4;
  }
}

.features-section .grid .item .item-discription {
  width: 291px;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

@media (max-width: 900px) {
  .features-section .grid .item .item-discription {
    width: 100%;
    font-size: 15px;
    line-height: 1.4;
  }
}

.rooms-section .container {
  background: url(../img/fish.png) no-repeat 0% 143px;
  text-align: center;
}

@media (max-width: 500px) {
  .rooms-section .container {
    background-size: 47%;
    background-position: 0% 20%;
  }
}

.rooms-section .title {
  padding-top: 125px;
  letter-spacing: -3px;
  margin-bottom: 61px;
}

@media (max-width: 500px) {
  .rooms-section .title {
    padding-top: 70px;
    letter-spacing: 0;
  }
}

.rooms-section .slider {
  height: 490px;
  text-align: left;
  position: relative;
}

@media (max-width: 500px) {
  .rooms-section .slider {
    position: static;
    height: 540px;
  }
}

.rooms-section .slider .slider__item {
  margin-left: 168px;
  position: relative;
}

@media (max-width: 900px) {
  .rooms-section .slider .slider__item {
    margin-left: 50px;
    margin-right: 100px;
  }
}

@media (max-width: 500px) {
  .rooms-section .slider .slider__item {
    position: static;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

.rooms-section .slider .slick-arrow {
  position: absolute;
  bottom: 7px;
  z-index: 5;
  font-size: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 10px #faf9f8;
          box-shadow: 0 0 10px 10px #faf9f8;
}

@media (max-width: 500px) {
  .rooms-section .slider .slick-arrow {
    display: none !important;
  }
}

.rooms-section .slider .slick-arrow.slick-prev {
  right: 215px;
  background: url(../img/svg/arrow-left.svg) no-repeat center;
}

.rooms-section .slider .slick-arrow.slick-next {
  right: 167px;
  background: url(../img/svg/arrow-right.svg) no-repeat center;
}

.rooms-section .slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

@media (max-width: 500px) {
  .rooms-section .slider .slick-dots {
    margin-top: 30px;
  }
}

.rooms-section .slider .slick-dots li {
  list-style: none;
  margin: 0 6px;
}

.rooms-section .slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.rooms-section .slider .slick-dots li.slick-active button {
  background-color: #fac663;
}

.slider__item-img {
  z-index: 1;
  width: 442px;
  height: 326px;
}

@media (max-width: 500px) {
  .slider__item-img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}

.slider__item-card {
  width: 500px;
  height: 284px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 77px 0 10px 10px rgba(208, 208, 208, 0.25);
          box-shadow: 77px 0 10px 10px rgba(208, 208, 208, 0.25);
  position: absolute;
  top: 7%;
  left: 31%;
  z-index: 3;
  padding: 29px 0 0 99px;
}

@media (max-width: 900px) {
  .slider__item-card {
    width: 340px;
    height: 266px;
    top: 9%;
    left: 61%;
    padding: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #858282;
  }
}

@media (max-width: 500px) {
  .slider__item-card {
    position: static;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 30px;
    border: none;
    -webkit-box-shadow: 0 10px 10px 10px #faf9f8;
            box-shadow: 0 10px 10px 10px #faf9f8;
    border-radius: 0 0 8px 8px;
  }
}

.slider__item-card .card__title {
  font-family: "Rubic", sans-serif;
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

@media (max-width: 500px) {
  .slider__item-card .card__title {
    font-size: 20px;
    line-height: 24px;
  }
}

.slider__item-card .card__list li {
  padding-left: 1px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  list-style-image: url(../img/svg/circle.svg);
  list-style-position: inside;
  margin-bottom: 14px;
}

@media (max-width: 500px) {
  .slider__item-card .card__list li {
    font-size: 15px;
    line-height: 18px;
  }
  .slider__item-card .card__list li .second-line {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.slider__item-card .button--orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 50px;
  background-color: #ff7236;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #fffefd;
  border-radius: 30px;
  text-align: center;
  margin-top: 27px;
  margin-left: 1px;
}

.slider__item-card .button--orange span {
  margin: 0 5px 0 24px;
  letter-spacing: -0.75px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-section {
  min-height: 550px;
}

@media (max-width: 500px) {
  .reviews-section {
    min-height: initial;
  }
}

.reviews-section .container {
  background: url(../img/paw-bottom.png) no-repeat 100% -44px;
  text-align: center;
}

@media (max-width: 500px) {
  .reviews-section .container {
    background-size: 42%;
    background-position: 100% -9%;
  }
}

.reviews-section .title {
  padding-top: 122px;
  letter-spacing: -2px;
  margin-bottom: 61px;
}

@media (max-width: 500px) {
  .reviews-section .title {
    margin-bottom: 40px;
    padding-top: 16px;
    letter-spacing: 0;
  }
}

.reviews__slider {
  height: 100%;
  padding-left: 100px;
  position: relative;
}

@media (max-width: 500px) {
  .reviews__slider {
    padding-left: 0;
  }
}

.reviews__slider .slick-arrow {
  position: absolute;
  bottom: -13px;
  z-index: 5;
  font-size: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px 10px #faf9f8;
          box-shadow: 0 0 10px 10px #faf9f8;
}

@media (max-width: 500px) {
  .reviews__slider .slick-arrow {
    display: none !important;
  }
}

.reviews__slider .slick-arrow.slick-prev {
  right: 215px;
  background: url(../img/svg/arrow-left.svg) no-repeat center;
}

.reviews__slider .slick-arrow.slick-next {
  right: 167px;
  background: url(../img/svg/arrow-right.svg) no-repeat center;
}

.reviews__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 51px;
  margin-right: 76px;
}

@media (max-width: 500px) {
  .reviews__slider .slick-dots {
    margin-top: 30px;
    margin-right: 0;
  }
}

.reviews__slider .slick-dots li {
  list-style: none;
  margin: 0 6px;
}

.reviews__slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.reviews__slider .slick-dots li.slick-active button {
  background-color: #fac663;
}

.reviews__slider-item {
  width: 470px;
  text-align: left;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px 10px rgba(208, 208, 208, 0.25);
          box-shadow: 0 0 10px 10px rgba(208, 208, 208, 0.25);
  padding-bottom: 2px;
  margin: 10px 30px 10px 10px;
}

@media (max-width: 500px) {
  .reviews__slider-item {
    width: 290px;
    margin: 10px 22px 10px 22px;
  }
}

.reviews__slider-item .review {
  padding: 25px 21px 25px 56px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-bottom: 10px;
  position: relative;
}

@media (max-width: 500px) {
  .reviews__slider-item .review {
    font-size: 15px;
    line-height: 1.4;
  }
}

.reviews__slider-item .review::before {
  content: "";
  width: 27px;
  height: 35px;
  background: url(../img/“.png) no-repeat;
  position: absolute;
  top: 37px;
  left: 36px;
}

@media (max-width: 500px) {
  .reviews__slider-item .review::before {
    top: 28px;
    left: 24px;
  }
}

.reviews__slider-item .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 362px;
  margin: 0 33px 30px 68px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #848484;
}

@media (max-width: 500px) {
  .reviews__slider-item .signature {
    display: none;
  }
}

.contacts-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 103px;
  background-color: #fac663;
}

@media (max-width: 500px) {
  .contacts-section .container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70px;
  }
}

.contacts-section .container .contacts__aside {
  margin-left: 198px;
}

@media (max-width: 900px) {
  .contacts-section .container .contacts__aside {
    margin-left: 45px;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (max-width: 500px) {
  .contacts-section .container .contacts__aside {
    margin-left: 15px;
  }
}

.contacts-section .container .contacts__aside .title {
  margin-top: 59px;
  letter-spacing: -2.6px;
  margin-bottom: 39px;
}

@media (max-width: 500px) {
  .contacts-section .container .contacts__aside .title {
    margin-top: 40px;
  }
}

.contacts-section .container .contacts__aside .contacts__aside-item {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 26px;
}

@media (max-width: 500px) {
  .contacts-section .container .contacts__aside .contacts__aside-item {
    font-size: 15px;
    line-height: 18px;
  }
}

.contacts-section .container .contacts__aside .contacts__aside-item h4 {
  margin-bottom: 10px;
  font-weight: 700;
}

.contacts-section .container .contacts__aside .contacts__aside-item p {
  font-weight: 400;
}

.contacts-section .container .contacts__aside .contacts__aside-item .social {
  margin-top: 13px;
}

.contacts-section .container .contacts__aside .contacts__aside-item .social .social-link {
  margin-right: 17px;
}

.contacts-section .container .contacts__map {
  position: relative;
}

@media (max-width: 900px) {
  .contacts-section .container .contacts__map {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
}

@media (max-width: 900px) {
  .contacts-section .container .contacts__map img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.contacts-section .container .contacts__map .cat {
  position: absolute;
  top: 236px;
  left: 248px;
}

@media (max-width: 900px) {
  .contacts-section .container .contacts__map .cat {
    top: 45%;
    left: 18%;
    width: 32px;
    height: 58px;
  }
}

@media (max-width: 500px) {
  .contacts-section .container .contacts__map .cat {
    top: 42%;
    left: 32%;
    width: 27px;
    height: 49px;
  }
}

.site-footer .container {
  border-top: 1px solid #efefef;
}

@media (max-width: 500px) {
  .site-footer .container {
    width: 100%;
  }
}

.site-footer .wrapper {
  width: 969px;
  margin-top: 12px;
}

@media (max-width: 900px) {
  .site-footer .wrapper {
    width: 678px;
  }
}

@media (max-width: 500px) {
  .site-footer .wrapper {
    width: 100%;
  }
}

.site-footer .wrapper .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 11px;
}

@media (max-width: 500px) {
  .site-footer .wrapper .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .site-footer .wrapper .footer__top .logo {
    margin: 18px 0 25px 15px;
  }
}

.site-footer .wrapper .footer__top .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 500px) {
  .site-footer .wrapper .footer__top .nav-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    -webkit-column-gap: 38px;
            column-gap: 38px;
    margin-left: 15px;
  }
}

.site-footer .wrapper .footer__top .nav-list .item {
  margin-left: 26px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .site-footer .wrapper .footer__top .nav-list .item {
    margin-left: 0;
  }
}

.site-footer .wrapper .footer__top .nav-list .item:first-child {
  margin-left: 0;
}

.site-footer .wrapper .footer__top .nav-list .item:hover a {
  color: #fda553;
  text-decoration: underline;
}

.site-footer .wrapper .footer__top .nav-list .item a {
  color: #1a212f;
}

.site-footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
}

@media (max-width: 500px) {
  .site-footer .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 15px;
  }
}

.site-footer .footer__bottom .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #8f8f8f;
}

.site-footer .footer__bottom .copyright a {
  color: #8f8f8f;
}

.site-footer .footer__bottom .copyright img {
  margin-right: 5px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup .popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.popup.open--after {
  opacity: 1;
  visibility: visible;
}

.popup.open--after .popup__content {
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup.open--after .popup__after {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, -200%) rotateX(0deg);
          transform: perspective(600px) translate(0px, -200%) rotateX(0deg);
}

.popup__content {
  width: 570px;
  height: 649px;
  margin-bottom: 27px;
  background-color: #fffefd;
  -webkit-box-shadow: 0 0 10px 10px #efe8e2;
          box-shadow: 0 0 10px 10px #efe8e2;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

@media (max-width: 500px) {
  .popup__content {
    width: 290px;
  }
}

.popup__content .popup__title {
  margin-top: 62px;
  margin-bottom: 43px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

@media (max-width: 500px) {
  .popup__content .popup__title {
    font-size: 24px;
    line-height: 28px;
    margin: 60px 49px 40px 50px;
  }
}

.popup__bg {
  position: absolute;
  top: -26px;
  left: -25px;
}

@media (max-width: 500px) {
  .popup__bg {
    left: -14px;
    top: -12px;
  }
  .popup__bg img {
    width: 65%;
  }
}

.popup__close {
  position: absolute;
  top: 38px;
  right: 39px;
}

@media (max-width: 500px) {
  .popup__close {
    top: 28px;
    right: 28px;
  }
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__form .form__item {
  margin: 0 0 20px 0;
}

@media (max-width: 500px) {
  .popup__form .form__item--date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.popup__form .form__item--date span {
  margin-left: 0;
  margin-right: 0;
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #1a212f;
}

@media (max-width: 500px) {
  .popup__form .form__item--date span {
    font-size: 15px;
    line-height: 18px;
    margin: 0 100px 20px 30px;
  }
}

.popup__form .form__item--date .label {
  margin-left: 15px;
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #1a212f;
}

.popup__form .form__input {
  width: 430px;
  height: 52px;
  border: 1px solid #d7d7d7;
  border-radius: 25px;
  padding-left: 30px;
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #1a212f;
}

@media (max-width: 500px) {
  .popup__form .form__input {
    width: 260px;
    font-size: 15px;
    line-height: 18px;
  }
}

.popup__form .form__input--date {
  width: 129px;
  margin-left: 10px;
  padding-left: 20px;
  font-size: 16px;
  color: #b5b5b5;
}

@media (max-width: 500px) {
  .popup__form .form__input--date {
    width: 107px;
    font-size: 15px;
    line-height: 18px;
    margin-left: 4px;
    padding-left: 15px;
  }
}

.popup__form .button {
  width: 230px;
  margin-top: 30px;
}

@media (max-width: 500px) {
  .popup__form .button {
    margin-top: 5px;
  }
}

.popup__after {
  width: 570px;
  height: 269px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fffefd;
  -webkit-box-shadow: 0 0 10px 10px #efe8e2;
          box-shadow: 0 0 10px 10px #efe8e2;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, 100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, 100%) rotateX(45deg);
}

@media (max-width: 500px) {
  .popup__after {
    width: 290px;
    height: 277px;
  }
}

.popup__after .popup__title {
  margin-top: 62px;
  margin-bottom: 14px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

@media (max-width: 500px) {
  .popup__after .popup__title {
    font-size: 24px;
    line-height: 28px;
    margin: 60px 0 20px 0;
  }
}

.popup__after .discription {
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 19px;
  color: #1a212f;
}

@media (max-width: 500px) {
  .popup__after .discription {
    font-size: 16px;
    line-height: 1.4;
    margin: 0 69px 35px 69px;
    text-align: center;
  }
}

.popup__after .button--small {
  width: 122px;
  height: 50px;
  padding: 7px 0;
}

@media (max-width: 500px) {
  .popup__after .button--small {
    margin-bottom: 60px;
  }
}

.popup__after .after__bg {
  position: absolute;
  left: -24px;
  bottom: -23px;
}

@media (max-width: 500px) {
  .popup__after .after__bg {
    left: -15px;
    bottom: -20px;
  }
  .popup__after .after__bg img {
    width: 60%;
  }
}
