@import "_nullstyle";

//General style start===============================
body {
   padding-top: 12px;
   background-color: #fffefd;
   color: #1a212f;
   &.lock {
      overflow: hidden;
   }
}

.wrapper {
   width: 1170px;
   margin: 0 auto;
   @media (max-width: 900px) {
      width: 678px;
   }
   @media (max-width: 500px) {
      width: 290px;
   }
}

.button {
   transition: 0.2s linear;

   &:hover {
      transform: scale(1.1);
   }
}

.container {
   width: 1366px;
   margin: 0 auto;

   @media (max-width: 900px) {
      width: 768px;
   }
   @media (max-width: 500px) {
      width: 320px;
   }
}

.title {
   font-family: "Rubic", sans-serif;
   font-size: 36px;
   line-height: 43px;
   font-weight: 800;
   color: #1a212f;

   @media (max-width: 500px) {
      font-size: 28px;
      line-height: 33px;
   }
}

.button--white {
   //margin: 0 auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 206px;
   height: 50px;
   background-color: #fffefd;
   font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 20px;
   font-weight: 600;
   border-radius: 30px;
   text-align: center;
   span {
      margin: 0 5px 0 24px;
      letter-spacing: -0.75px;
      color: #1a212f;
   }
}
.button--orange {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 206px;
   height: 50px;
   background-color: #ff7236;
   font-family: "Lato", sans-serif;
   font-size: 16px;
   line-height: 20px;
   font-weight: 600;
   color: #fffefd;
   border-radius: 30px;
   text-align: center;

   span {
      margin: 0 5px 0 24px;
      letter-spacing: -0.75px;
   }
}

.logo img {
   @media (max-width: 500px) {
      width: 46px;
      height: 38px;
   }
}

//Header style start===============================
.site-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   //margin-top: 10px;
   .nav {
      @media (max-width: 500px) {
         width: 100%;
         height: 100%;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 2;
         background-color: #fac663;
         transform: translateX(-100%);
         transition: 0.2s all linear;

         &.is-open {
            transform: translateX(0);
         }
      }
      .logo-menu {
         display: none;

         @media (max-width: 500px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 12px 25px 50px 15px;

            .menu__close img {
               width: 16px;
               height: 16px;
            }
         }

         a {
            height: 100%;
         }
      }
   }

   .nav-list {
      display: flex;
      justify-content: space-between;

      @media (max-width: 500px) {
         flex-direction: column;
      }
      .item {
         margin-left: 26px;
         font-family: "Lato", sans-serif;
         font-size: 16px;
         line-height: 19px;
         font-weight: 600;

         @media (max-width: 500px) {
            margin-left: 15px;
            margin-bottom: 25px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
         }
         &:first-child {
            margin-left: 0;

            @media (max-width: 500px) {
               margin-left: 15px;
            }
         }
         &:hover a {
            color: #fda553;
            text-decoration: underline;
         }
         a {
            color: #1a212f;
         }
      }
      .item-contacts {
         display: none;

         @media (max-width: 500px) {
            display: block;

            .item-contacts__tel {
               margin-top: 40px;
               margin-bottom: 25px;
               font-size: 16px;
               line-height: 19px;
            }
            .social-link {
               margin-right: 20px;
            }
         }
      }

      .item-find {
         @media (max-width: 500px) {
            display: none;
         }
      }
   }
   .header__burger {
      display: none;
      width: 22px;
      height: 14px;
      margin-right: 10px;
      position: relative;

      @media (max-width: 500px) {
         display: block;
      }
      .burger__line {
         display: block;
         width: 100%;
         height: 2px;
         background-color: #1a212f;
         position: absolute;
         left: 0;
      }

      .burger__line-first {
         top: 0;
      }

      .burger__line-second {
         top: 50%;
         transform: translateY(-50%);
      }

      .burger__line-third {
         bottom: 0;
      }
   }
}

.hero-section {
   height: 504px;
   width: 1366px;
   margin: 12px auto 0 auto;
   background-color: #fda553;
   background: url(../img/Mask.png), url(../img/cat.jpg) no-repeat no-repeat;
   background-position: 50% 100%;

   @media (max-width: 900px) {
      width: 768px;
      height: 856px;
      background: url(../img/Mask-for-tablen.png), url(../img/cat-for-tablet.jpg) no-repeat no-repeat;
   }
   @media (max-width: 500px) {
      width: 100%;
      height: 457px;
      background-size: cover;
   }

   .container {
      padding-top: 149px;
      padding-left: 198px;

      @media (max-width: 900px) {
         padding-left: 0;
         text-align: center;
      }
      @media (max-width: 500px) {
         padding-top: 50px;
      }

      .location {
         font-family: "Lato", sans-serif;
         font-size: 14px;
         line-height: 17px;
         font-weight: 400;
         margin-bottom: 2px;

         @media (max-width: 500px) {
            font-size: 12px;
            line-height: 14px;
         }
      }
      .title {
         font-family: "Rubic", sans-serif;
         font-size: 62px;
         line-height: 57px;
         font-weight: 900;
         letter-spacing: -3px;
         margin-bottom: 17px;

         @media (max-width: 500px) {
            font-size: 44px;
            line-height: 52px;
         }
      }
      .subtitle {
         font-family: "Lato", sans-serif;
         font-size: 20px;
         line-height: 24px;
         font-weight: 500;
         letter-spacing: 0.5px;
         margin-bottom: 35px;

         @media (max-width: 500px) {
            font-size: 16px;
            line-height: 19px;
         }
      }
   }
}

//Features style start===============================

.features-section {
   @media (max-width: 500px) {
      height: 100%;
   }
   .container {
      background: url(../img/paw-print.png) no-repeat 100% -6%;
      text-align: center;

      @media (max-width: 500px) {
         background-size: 40%;
         background-position: 103% 1%;
      }
   }

   .title {
      padding-top: 130px;
      letter-spacing: -3px;
      margin-bottom: 70px;
      @media (max-width: 500px) {
         padding-top: 70px;
         margin-bottom: 40px;
         letter-spacing: 0;
      }
   }

   .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 22px;
      column-gap: 30px;

      @media (max-width: 900px) {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
      }

      @media (max-width: 500px) {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      .item {
         width: 370px;
         display: flex;
         flex-direction: column;
         justify-self: start;
         align-items: flex-start;
         padding: 22px 0 30px 30px;
         background-color: #ffffff;
         border-radius: 8px;
         box-shadow: 0 0 10px 10px #d8d2cd;

         @media (max-width: 900px) {
            width: 324px;
            padding-left: 25px;
            padding-right: 10px;
         }

         @media (max-width: 500px) {
            width: 290px;
            padding-left: 25px;
            padding-right: 10px;
         }

         .item-img {
            margin-bottom: 27px;

            @media (max-width: 500px) {
               width: 60px;
               height: 60px;
            }
         }
         .item-title {
            margin-bottom: 8px;
            font-family: "Rubic", sans-serif;
            font-size: 22px;
            line-height: 31px;
            font-weight: 700;
            text-align: left;

            @media (max-width: 500px) {
               font-size: 20px;
               line-height: 1.4;
            }

            @media (max-width: 500px) {
               font-size: 18px;
               line-height: 1.4;
            }
         }
         .item-discription {
            width: 291px;
            text-align: left;
            font-family: "Lato", sans-serif;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0.2px;

            @media (max-width: 900px) {
               width: 100%;
               font-size: 15px;
               line-height: 1.4;
            }
         }
      }
   }
}
//Rooms style start===============================
.rooms-section {
   .container {
      background: url(../img/fish.png) no-repeat 0% 143px;
      text-align: center;
      @media (max-width: 500px) {
         background-size: 47%;
         background-position: 0% 20%;
      }
   }
   .title {
      padding-top: 125px;
      letter-spacing: -3px;
      margin-bottom: 61px;

      @media (max-width: 500px) {
         padding-top: 70px;
         letter-spacing: 0;
      }
   }
   .slider {
      height: 490px;
      text-align: left;
      position: relative;

      @media (max-width: 500px) {
         position: static;
         height: 540px;
      }

      .slider__item {
         margin-left: 168px;
         position: relative;

         @media (max-width: 900px) {
            margin-left: 50px;
            margin-right: 100px;
         }

         @media (max-width: 500px) {
            position: static;
            width: 290px;
            margin-left: auto;
            margin-right: auto;
         }
      }

      .slick-arrow {
         position: absolute;
         bottom: 7px;
         z-index: 5;
         font-size: 0;
         width: 36px;
         height: 36px;
         border-radius: 50%;
         background-color: #ffffff;
         box-shadow: 0 0 10px 10px #faf9f8;

         @media (max-width: 500px) {
            display: none !important;
         }
      }
      .slick-arrow.slick-prev {
         right: 215px;
         background: url(../img/svg/arrow-left.svg) no-repeat center;
      }
      .slick-arrow.slick-next {
         right: 167px;
         background: url(../img/svg/arrow-right.svg) no-repeat center;
      }

      .slick-dots {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 50px;

         @media (max-width: 500px) {
            margin-top: 30px;
         }

         li {
            list-style: none;
            margin: 0 6px;
         }
         button {
            font-size: 0;
            width: 12px;
            height: 12px;
            background-color: #e1e1e1;
            border-radius: 50%;
         }
         li.slick-active button {
            background-color: #fac663;
         }
      }
   }
}

.slider__item-img {
   z-index: 1;
   width: 442px;
   height: 326px;
   @media (max-width: 500px) {
      width: 100%;
      height: auto;
      border-radius: 0;
   }
}
.slider__item-card {
   width: 500px;
   height: 284px;
   background-color: #ffffff;
   border-radius: 8px;
   box-shadow: 77px 0 10px 10px rgba(208, 208, 208, 0.25);
   position: absolute;
   top: 7%;
   left: 31%;
   z-index: 3;
   padding: 29px 0 0 99px;

   @media (max-width: 900px) {
      width: 340px;
      height: 266px;
      top: 9%;
      left: 61%;
      padding: 20px;
      box-shadow: none;
      border: 1px solid #858282;
   }

   @media (max-width: 500px) {
      position: static;
      width: 100%;
      margin-bottom: 10px;
      padding-left: 30px;
      border: none;
      box-shadow: 0 10px 10px 10px #faf9f8;
      border-radius: 0 0 8px 8px;
   }

   .card__title {
      font-family: "Rubic", sans-serif;
      font-size: 22px;
      line-height: 36px;
      font-weight: 700;
      margin-bottom: 16px;

      @media (max-width: 500px) {
         font-size: 20px;
         line-height: 24px;
      }
   }

   .card__list li {
      padding-left: 1px;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      list-style-image: url(../img/svg/circle.svg);
      list-style-position: inside;
      margin-bottom: 14px;
      @media (max-width: 500px) {
         font-size: 15px;
         line-height: 18px;

         .second-line {
            margin-left: 10px;
            margin-top: 5px;
         }
      }
   }

   .button--orange {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 206px;
      height: 50px;
      background-color: #ff7236;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      color: #fffefd;
      border-radius: 30px;
      text-align: center;
      margin-top: 27px;
      margin-left: 1px;
      span {
         margin: 0 5px 0 24px;
         letter-spacing: -0.75px;
      }
   }
}

// Slick-Slayder+++++++++

.slick-list {
   overflow: hidden;
}
.slick-track {
   display: flex;
}
//Reviews style start===============================

.reviews-section {
   min-height: 550px;

   @media (max-width: 500px) {
      min-height: initial;
   }
   .container {
      background: url(../img/paw-bottom.png) no-repeat 100% -44px;
      text-align: center;

      @media (max-width: 500px) {
         background-size: 42%;
         background-position: 100% -9%;
      }
   }
   .title {
      padding-top: 122px;
      letter-spacing: -2px;
      margin-bottom: 61px;
      @media (max-width: 500px) {
         margin-bottom: 40px;
         padding-top: 16px;
         letter-spacing: 0;
      }
   }
}

.reviews__slider {
   height: 100%;
   padding-left: 100px;
   position: relative;

   @media (max-width: 500px) {
      padding-left: 0;
   }

   .slick-arrow {
      position: absolute;
      bottom: -13px;
      z-index: 5;
      font-size: 0;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0 0 10px 10px #faf9f8;

      @media (max-width: 500px) {
         display: none !important;
      }
   }
   .slick-arrow.slick-prev {
      right: 215px;
      background: url(../img/svg/arrow-left.svg) no-repeat center;
   }
   .slick-arrow.slick-next {
      right: 167px;
      background: url(../img/svg/arrow-right.svg) no-repeat center;
   }

   .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 51px;
      margin-right: 76px;

      @media (max-width: 500px) {
         margin-top: 30px;
         margin-right: 0;
      }

      li {
         list-style: none;
         margin: 0 6px;
      }
      button {
         font-size: 0;
         width: 12px;
         height: 12px;
         background-color: #e1e1e1;
         border-radius: 50%;
      }
      li.slick-active button {
         background-color: #fac663;
      }
   }
}
.reviews__slider-item {
   width: 470px;
   text-align: left;
   font-family: "Lato", sans-serif;
   background-color: #ffffff;
   border-radius: 8px;
   box-shadow: 0 0 10px 10px rgba(208, 208, 208, 0.25);
   padding-bottom: 2px;
   margin: 10px 30px 10px 10px;

   @media (max-width: 500px) {
      width: 290px;
      margin: 10px 22px 10px 22px;
   }

   .review {
      padding: 25px 21px 25px 56px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      letter-spacing: 0px;
      margin-bottom: 10px;
      position: relative;

      @media (max-width: 500px) {
         font-size: 15px;
         line-height: 1.4;
      }

      &::before {
         content: "";
         width: 27px;
         height: 35px;
         background: url(../img/“.png) no-repeat;
         position: absolute;
         top: 37px;
         left: 36px;

         @media (max-width: 500px) {
            top: 28px;
            left: 24px;
         }
      }
   }
   .signature {
      display: flex;
      justify-content: space-between;
      width: 362px;
      margin: 0 33px 30px 68px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 400;
      color: #848484;

      @media (max-width: 500px) {
         display: none;
      }
   }
}

//Contact style start===============================
.contacts-section {
   .container {
      display: flex;
      justify-content: space-between;
      margin-top: 103px;
      background-color: #fac663;

      @media (max-width: 500px) {
         width: 100%;
         flex-direction: column;
         margin-top: 70px;
      }

      .contacts__aside {
         margin-left: 198px;

         @media (max-width: 900px) {
            margin-left: 45px;
            flex-basis: 45%;
         }
         @media (max-width: 500px) {
            margin-left: 15px;
         }

         .title {
            margin-top: 59px;
            letter-spacing: -2.6px;
            margin-bottom: 39px;

            @media (max-width: 500px) {
               margin-top: 40px;
            }
         }

         .contacts__aside-item {
            font-family: "Lato", sans-serif;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 26px;

            @media (max-width: 500px) {
               font-size: 15px;
               line-height: 18px;
            }

            h4 {
               margin-bottom: 10px;
               font-weight: 700;
            }

            p {
               font-weight: 400;
            }

            .social {
               margin-top: 13px;
               .social-link {
                  margin-right: 17px;
               }
            }
         }
      }

      .contacts__map {
         position: relative;
         @media (max-width: 900px) {
            flex-basis: 55%;
         }
         img {
            @media (max-width: 900px) {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }

         .cat {
            position: absolute;
            top: 236px;
            left: 248px;

            @media (max-width: 900px) {
               top: 45%;
               left: 18%;
               width: 32px;
               height: 58px;
            }
            @media (max-width: 500px) {
               top: 42%;
               left: 32%;
               width: 27px;
               height: 49px;
            }
         }
      }
   }
}

//Catalog style start=======================================
.catalog-section {
}

.catalog {
   display: grid;
   grid-template-columns: 300px 870px;
   grid-template-rows: 1fr 912px;
   position: relative;

   @media (max-width: 900px) {
      grid-template-columns: 678px;
      grid-template-rows: 100px 1344px;
   }

   .catalog__title {
      padding: 70px 0 50px 0;
      letter-spacing: -3px;

      @media (max-width: 900px) {
         position: absolute;
         top: -40px;
         left: 0;
      }
   }
}

.catalog__select {
   text-align: right;
   font-family: Lato, sans-serif;
   display: flex;
   justify-content: flex-end;

   @media (max-width: 900px) {
      //  align-items: center;
   }

   .select__filter {
      display: none;
      width: 121px;
      height: 35px;
      margin: 40px 0 0 0;
      padding: 0 0 0 20px;
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      background-color: #ffffff;
      background: url(../img/svg/tunnel.svg) no-repeat 16% 50%;
      box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
      border-radius: 25px;
      margin-right: 29px;
      transition: all 0.2s linear;
      &:hover {
         background-color: #fac663;
      }

      @media (max-width: 900px) {
         display: block;
      }
   }
   .select-increase {
      width: 174px;
      height: 35px;
      margin: 82px 0 0 0;
      padding: 0 0 0 20px;
      font-size: 14px;
      line-height: 17px;
      background-color: #ffffff;
      background: url(../img/svg/select.svg) no-repeat 88% 50%;
      box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
      border-radius: 25px;

      appearance: none;
      cursor: pointer;

      &:focus {
         border-radius: 0;
      }

      option {
         padding: 5px 15px 5px 5px;
      }

      @media (max-width: 900px) {
         margin-top: 40px;
      }
   }
}
.catalog__filter {
   font-family: Lato, sans-serif;

   @media (max-width: 900px) {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      top: 0;
      left: 0;
      z-index: 5;

      opacity: 0;
      visibility: hidden;
      overflow-y: auto;
      overflow-x: hidden;
      transition: all 0.8s ease 0s;
   }
}
.filter__price {
   font-size: 16px;
   line-height: 19px;
   font-weight: 500;

   .price__range {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 30px;

      input {
         width: 100px;
         height: 24px;
         margin-top: 17px;
         margin-right: 10px;
         padding-left: 5px;
         border: 1px solid #e1e1e1;
         font-size: 14px;
         line-height: 17px;
         display: flex;
         color: #1a212f;
      }
   }
}

.filter__square {
   margin-bottom: 33px;
}

.form-title {
   font-size: 16px;
   line-height: 19px;
   font-weight: 500;
   margin-bottom: 18px;
}

.chekbox {
   position: relative;
   margin-bottom: 18px;
}
.check__input {
   appearance: none;

   &:checked + .check::before {
      background: url(../img/svg/check.svg) no-repeat 58% 50%;
   }
}
.check {
   padding-left: 28px;
   font-size: 14px;
   line-height: 17px;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #e1e1e1;
   }
}

.filter__equipment {
   margin-bottom: 40px;
}
.filter__battons {
   .button {
      width: 185px;
      height: 42px;
      border-radius: 25px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;

      &--apply {
         margin-bottom: 15px;
         background: #fac663;
      }
      &--discard {
         border: 2px solid #fac663;
         background-color: transparent;
      }
   }
}

.catalog__rooms {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;

   @media (max-width: 900px) {
      justify-content: space-between;
   }
}
.room {
   width: 270px;
   height: 428px;
   //margin-bottom: 30px;
   background: #ffffff;
   border: 1px solid #e1e1e1;
   box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
   border-radius: 6px;

   @media (max-width: 900px) {
      width: 324px;

      .room__img img {
         width: 100%;
         height: auto;
      }
   }

   .room__body {
      padding: 25px 20px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;

      @media (max-width: 900px) {
         padding-top: 10px;
      }

      p {
         margin-bottom: 8px;

         @media (max-width: 900px) {
            margin-bottom: 5px;
         }
      }

      .room__body-title {
         margin-bottom: 10px;
         font-family: Rubik;
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 24px;
      }

      .room__body-size {
      }
      .room__body-square {
         letter-spacing: 1px;
      }
      .current-square {
         letter-spacing: 1px;
      }
      .room__body-equipment {
         letter-spacing: 1px;

         img {
            margin-left: 5px;
         }
      }
      .room__body-price {
         letter-spacing: 1px;

         span {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
         }
      }

      .button {
         margin: 19px auto 0 auto;
         width: 230px;
         height: 46px;

         @media (max-width: 900px) {
            margin-top: 10px;
            width: 272px;
         }
         span {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            margin: 0 24px 3px 43px;
            letter-spacing: -0.5px;
         }
         img {
            width: 34px;
            height: 34px;
         }
      }
   }
}
//Baner section style =======================================
.baner-section {
   margin-top: 118px;
   margin-bottom: 140px;
   @media (max-width: 900px) {
      margin-top: 90px;
      margin-bottom: 120px;
   }
   .baner {
      height: 379px;
      width: 100%;
      padding-top: 66px;
      padding-left: 270px;
      background: url(../img/baner2.jpg) no-repeat;
      position: relative;

      @media (max-width: 900px) {
         width: 678px;
         height: 359px;
         padding-left: 50px;
         background: url(../img/baner-table.jpg) no-repeat;
      }
      &__img {
         position: absolute;
         left: 0;
         top: 0;
         @media (max-width: 900px) {
            width: 20%;
         }
      }
      .baner__title {
         letter-spacing: -2px;
         margin-bottom: -5px;
      }
      .baner__title--big {
         font-family: Rubik;
         font-style: normal;
         font-weight: bold;
         font-size: 56px;
         line-height: 66px;
         margin-bottom: 5px;
      }
      .baner__description {
         font-family: Lato;
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 1.4;
         letter-spacing: 1px;
         margin-bottom: 32px;
      }
   }
}
.wrapper {
}

.title {
}

.button {
}
.button--white {
}
.popup-link {
}

//Footer style =======================================
.site-footer {
   .container {
      border-top: 1px solid #efefef;

      @media (max-width: 500px) {
         width: 100%;
      }
   }

   .wrapper {
      width: 969px;
      margin-top: 12px;

      @media (max-width: 900px) {
         width: 678px;
      }
      @media (max-width: 500px) {
         width: 100%;
      }

      .footer__top {
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         padding-bottom: 11px;

         @media (max-width: 500px) {
            flex-direction: column;
            align-items: flex-start;

            .logo {
               margin: 18px 0 25px 15px;
            }
         }
         .nav-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 500px) {
               display: grid;
               grid-template-columns: 1fr 1fr;
               row-gap: 20px;
               column-gap: 38px;
               margin-left: 15px;
            }
            .item {
               margin-left: 26px;
               font-family: "Lato", sans-serif;
               font-size: 16px;
               line-height: 19px;
               font-weight: 600;

               @media (max-width: 500px) {
                  margin-left: 0;
               }
               &:first-child {
                  margin-left: 0;
               }
               &:hover a {
                  color: #fda553;
                  text-decoration: underline;
               }
               a {
                  color: #1a212f;
               }
            }
         }
      }
   }
   .footer__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 6px;

      @media (max-width: 500px) {
         flex-direction: column;
         align-items: flex-start;
         padding-left: 15px;
      }

      .copyright {
         display: flex;
         margin-bottom: 20px;
         font-family: "Lato", sans-serif;
         font-size: 12px;
         line-height: 14px;
         font-weight: 400;
         color: #8f8f8f;

         a {
            color: #8f8f8f;
         }

         img {
            margin-right: 5px;
         }
      }
   }
}
//Popup style =======================================
.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   top: 0;
   left: 0;
   z-index: 5;

   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;

   .popup__body {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
   }

   &.open {
      opacity: 1;
      visibility: visible;
      .popup__content {
         opacity: 1;
         transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
      }
   }

   &.open--after {
      opacity: 1;
      visibility: visible;
      .popup__content {
         opacity: 0;
         transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
      }
      .popup__after {
         opacity: 1;
         transform: perspective(600px) translate(0px, -200%) rotateX(0deg);
      }
   }
}

.popup__content {
   width: 570px;
   height: 649px;
   margin-bottom: 27px;

   background-color: #fffefd;
   box-shadow: 0 0 10px 10px #efe8e2;
   border-radius: 10px;

   position: relative;
   overflow: hidden;
   transition: all 0.8s ease 0s;
   opacity: 0;
   transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

   @media (max-width: 500px) {
      width: 290px;
   }

   .popup__title {
      margin-top: 62px;
      margin-bottom: 43px;
      text-align: center;

      font-weight: 700;
      font-size: 28px;
      line-height: 33px;

      @media (max-width: 500px) {
         font-size: 24px;
         line-height: 28px;
         margin: 60px 49px 40px 50px;
      }
   }
}
.popup__bg {
   position: absolute;
   top: -26px;
   left: -25px;

   @media (max-width: 500px) {
      left: -14px;
      top: -12px;

      img {
         width: 65%;
      }
   }
}
.popup__close {
   position: absolute;
   top: 38px;
   right: 39px;

   @media (max-width: 500px) {
      top: 28px;
      right: 28px;
   }
}

.popup__form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .form__item {
      margin: 0 0 20px 0;

      &--date {
         @media (max-width: 500px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
         }
         span {
            margin-left: 0;
            margin-right: 0;
            font-family: Lato;
            font-weight: 400;
            font-size: 18px;
            line-height: 19px;
            color: #1a212f;

            @media (max-width: 500px) {
               font-size: 15px;
               line-height: 18px;
               margin: 0 100px 20px 30px;
            }
         }
         .label {
            margin-left: 15px;
            font-family: Lato;
            font-weight: 400;
            font-size: 18px;
            line-height: 19px;
            color: #1a212f;
         }
      }
   }
   .form__input {
      width: 430px;
      height: 52px;
      border: 1px solid #d7d7d7;
      border-radius: 25px;
      padding-left: 30px;

      font-family: Lato;
      font-weight: 400;
      font-size: 18px;
      line-height: 19px;
      color: #1a212f;

      @media (max-width: 500px) {
         width: 260px;
         font-size: 15px;
         line-height: 18px;
      }

      &--date {
         width: 129px;
         margin-left: 10px;
         padding-left: 20px;

         font-size: 16px;
         color: #b5b5b5;

         @media (max-width: 500px) {
            width: 107px;
            font-size: 15px;
            line-height: 18px;
            margin-left: 4px;
            padding-left: 15px;
         }
      }
   }

   .button {
      width: 230px;
      margin-top: 30px;

      @media (max-width: 500px) {
         margin-top: 5px;
      }
   }
}

//Popup after style start ===========

.popup__after {
   width: 570px;
   height: 269px;

   display: flex;
   flex-direction: column;
   //justify-content: center;
   align-items: center;

   background-color: #fffefd;
   box-shadow: 0 0 10px 10px #efe8e2;
   border-radius: 10px;

   position: relative;
   overflow: hidden;
   transition: all 0.8s ease 0s;
   opacity: 0;
   transform: perspective(600px) translate(0px, 100%) rotateX(45deg);

   @media (max-width: 500px) {
      width: 290px;
      height: 277px;
   }

   .popup__title {
      margin-top: 62px;
      margin-bottom: 14px;
      text-align: center;

      font-weight: 700;
      font-size: 28px;
      line-height: 33px;

      @media (max-width: 500px) {
         font-size: 24px;
         line-height: 28px;
         margin: 60px 0 20px 0;
      }
   }
   .discription {
      margin-bottom: 46px;
      font-size: 18px;
      line-height: 19px;
      color: #1a212f;

      @media (max-width: 500px) {
         font-size: 16px;
         line-height: 1.4;
         margin: 0 69px 35px 69px;
         text-align: center;
      }
   }
   .button--small {
      width: 122px;
      height: 50px;
      padding: 7px 0;

      @media (max-width: 500px) {
         margin-bottom: 60px;
      }
   }
   .after__bg {
      position: absolute;
      left: -24px;
      bottom: -23px;

      @media (max-width: 500px) {
         left: -15px;
         bottom: -20px;

         img {
            width: 60%;
         }
      }
   }
}
